doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no" )
    title Test

    link(href="https://fonts.googleapis.com/css?family=Roboto:400,500,700", rel="stylesheet" )
    link(href="css/style.css", rel="stylesheet" )
  body
    form( id="file-form" action="/" method="POST" enctype="multipart/form-data")
      input(id="file" name="file" type="file")
      input(type="submit")
      .progress
        .progress__line
  script(src="/js/socket.io.js")
  script(src="/js/main.js")
